# Composer
/vendor/
**/vendor/
composer.lock

# PHPUnit / Coverage
/.phpunit.result.cache
/.phpunit.cache
/coverage/
clover.xml
junit.xml

# Psalm / CS Fixer
/.psalm
/.psalm.cache
/.php-cs-fixer.cache

# OpenAPI
public/openapi.json

# Swagger UI assets
public/docs/assets/

# IDE & OS
/.idea/
/.vscode/
/.DS_Store

# misc Build/Cache
/build/
/var/
